@using Microsoft.AspNet.Identity
<div class="header-inner">
    <div class="container">
        <div class="header-item header-item--left">
            <ul class="mU-list">
                <li class="mU-item mU-item--main">
                    <a style="font-size:28px; color:white; padding:15px 15px 15px 0px;" class="link mU-item-link" id="menuFooterMainLink" href="http://localhost:52725/">SWAPP</a>
                </li>
            </ul>
        </div>
        @if (Request.IsAuthenticated)
        {
            @Html.AntiForgeryToken()
            if (User.IsInRole("User"))
            {
                <div class="header-item header-item--right">
                    <div class="dropdown user">
                        <a class="dropdown-toggle" id="userMenuToggle" data-toggle="dropdown" onclick="getBon()">
                            <div class="avatar">
                                <div class="thumbnail">
                                    <div class="thumb">
                                        <img src="~/Content/img/avatar/g.png" width="30" height="30">
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu">
                            <div class="user-menu" id="userMenu">
                                <hr>
                                <div class="user-menu-profile">
                                    <div class="container user-menu-profile-inner">
                                        @Html.ActionLink("Профиль", "Profile", "Manage", null, new { @class = "i-profile scroll-element bordered bn-link", @style = "border-color: #ff6600 !important; background-color: #ff6600 !important; color:white;" })
                                        <h4 class="i-nickname"> @User.Identity.GetUserName()</h4>
                                        <div class="bonusbox__title">
                                            <i class="icon icon_default"></i>
                                            <i class="icon icon_hover"></i>
                                            Бонусы:
                                            <span class="count" id="BonusValue">
                                                @ViewBag.BonusValue
                                            </span>
                                        </div>
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            <a class="i-logout" href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="header-item header-item--right">
                <div class="dropdown dropdown--right langs">
                    <a class="dropdown-toggle langs-title" data-toggle="dropdown">
                        Меню
                    </a>
                    <div class="dropdown-menu">
                        <ul class="langs-list">
                            @if (User.IsInRole("Administrator"))
                            {
                                <li class="langs-item"><a class="langs-item-title" href="/Admin/Index">Админ панель</a></li>
                                <li class="langs-item">
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        <a class="langs-item-title" href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
                                    }
                                </li>
                            }
                            else if (User.IsInRole("User"))
                            {
                                <li class="langs-item"><a class="langs-item-title" href="/Manage/CreatePost">Создать объявление</a></li>
                                <li class="langs-item"><a class="langs-item-title" href="/Manage/Posts">Мои объявления</a></li>
                                <li class="langs-item"><a class="langs-item-title" href="/Manage/RequestPost">Запрошенные объявления</a></li>
                                <li class="langs-item"><a class="langs-item-title" href="/Manage/ResponsePost">Запросы для одобрения</a></li>
                            }
                            else if (User.IsInRole("Moderator"))
                            {
                                <li class="langs-item"><a class="langs-item-title" href="/Moderator/Index">Панель модератора</a></li>
                                <li class="langs-item">
                                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        <a class="langs-item-title" href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="header-item header-item--right">
                <div class="user-auth">
                    @Html.ActionLink("Вход", "LoginModal", "Account", null, new { @class = "link loginLink", @id = "serviceLoginLink" })
                    @Html.ActionLink("Регистрация", "RegisterModal", "Account", null, new { @class = "link registerLink", @id = "serviceRegisterLink" })
                </div>
            </div>
        }
        <div class="header-item header-item--right">
            <div class="search-hint" id="searchHint">
                <div class="search-hint-inner">
                    <div class="search-hint-form" style="width: 106px;">
                        <form class="form" action="/Home/Search/">
                            <div class="search-hint-placeholder">
                                Поиск
                            </div>
                            <input class="search-hint-input" id="searchHintInput" type="text" name="q" autocomplete="off" onclick="enableFocus()">
                            <input type="hidden" id="searchHintUrl" value="/Home/Search/" disabled="">
                            <div class="search-hint-submit">
                                <i class="icon icon--default"></i>
                                <i class="icon icon--hover"></i>
                                <i class="icon icon--active"></i>
                            </div>
                            <button class="search-hint-reset" type="reset" title="Отменить" onclick="disableFocus()">
                                <i class="icon icon--default"></i>
                                <i class="icon icon--hover"></i>
                                <i class="icon icon--active"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>