@model diplom.Models.LoginViewModel
<div class="modal-content">
    <div class="autH">
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">
                <i class="icon icon_default"></i>
                <i class="icon icon_hover"></i>
            </button>
            <h3 class="title">
                Вход
            </h3>
        </div>
        @using (Ajax.BeginForm("LoginModal", null, new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "dialogContent"
        }, new { @class = "form" }))
        {

            @Html.ValidationSummary(true, "", new { @style = "color:red;" })
            <div class="form-group">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Логин" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @style = "color:red;" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @type = "password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @style = "color:red;" })
            </div>
            <div class="form-group">
                <button class="btn btn_color" type="submit">Войти</button>
            </div>
        }
        <div class="autH-another-action">
            @Html.ActionLink("Регистрация", "Register", "Account", null, new { @class=""})
            нового аккаунта
        </div>
    </div>
</div>



