@using Microsoft.AspNetCore.Identity;
@model UserManager<ApplicationUser>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content=" Divisima | eCommerce Template">
    <meta name="keywords" content="divisima, eCommerce, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Icon -->
    <link href="~/img/wind.png" rel="shortcut icon" />
    <!-- Stylesheets -->
    <!--<link rel="stylesheet" href="~/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

    <title>Gyre</title>
</head>
<body class="brand brand_embed" onload="getBon()">
    <script type="text/javascript">
        function getBon() {
            $.ajax({
                url: '/Manage/GetBonus',
                type: 'GET',
                success: function (result) {
                    $('#BonusValue').text(result);

                }
            });
            return false;
        }
        function enableFocus() {
            $('div.search-hint').addClass("focus");
        }
        function disableFocus() {
            $('div.search-hint').removeClass("focus");
        }
        $(function () {
            $.ajaxSetup({ cache: false });
            $("#serviceLoginLink").on("click", function (e) {
                $(e.target).closest('.btn-group').children('.dropdown - toggle').dropdown('toggle');
                $('#dialogContent').load(this.href, function () {
                    $('#modDialog').modal({
                        keyboard: true
                    }, 'show');
                    bindFormLogin(this);
                });
                return false;
            });
        });
        $(function () {
            $.ajaxSetup({ cache: false });
            $("#serviceRegisterLink").on("click", function (e) {
                $(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');
                $('#dialogContent').load(this.href, function () {
                    $('#modDialog').modal({
                        keyboard: true
                    }, 'show');
                    bindFormRegister(this);
                });
                return false;
            });
        });
        function bindFormLogin(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            $('#modDialog').modal('hide');
                            location.reload();
                        } else {
                            $('#dialogContent').html(result);
                            bindFormLogin();
                        }
                    }
                });
                return false;
            });
        }
        function bindFormRegister(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            $('#modDialog').modal('hide');
                            location.reload();
                        } else {
                            $('#dialogContent').html(result);
                            bindForm();
                        }
                    }
                });
                return false;
            });
        }
    </script>
    <div id="wrapper" class="wrapper">
        <div id="header" class="header">
            <!-- Header section -->
            <header class="header-section">
                <div class="header-top">
                    <div class="container">
                            <!-- logo -->
                            <div class="site-logo">
                                <a href="https://localhost:44355/"><img src="~/images/2013gyre_logo_final-1024x359.jpg" /></a>
                            </div>
                        <!--Search-->
                        <div class="col-xl-6 col-lg-5">
                            <form class="header-search-form" action="/Home/Search/">
                                <input type="text" name="q" placeholder="Search on gyre ....">
                                <button>
                                    <img class="icon" src="~/img/search.png"/>
                                </button>
                            </form>
                        </div>                        
                        @if (User.IsInRole("User"))
                        {
                            <!--Bonus-->
                            <div class="bonusbox__title">
                                <img class="icon" src="~/img/list.png" />
                                Бонусы:
                                <span class="count" id="BonusValue"></span>
                            </div>
                        }

                            <div class="user-panel">
                                <!--Roles-->
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="dropdown dropdown--right langs">
                                        <a class="dropdown-toggle langs-title" data-toggle="dropdown"/>
                                            @User.Identity.Name.ToString()
                                            <div class="dropdown-menu">
                                                <ul class="langs-list">
                                                    @if (User.IsInRole("Moderator"))
                                                    {
                                                        <li class="langs-item"><a class="langs-item-title" href="/Moderator/Index">Панель модератора</a></li>
                                                    }
                                                    else if (User.IsInRole("User"))
                                                    {
                                                        <li class="langs-item"><a class="langs-item-title" href="/Manage/CreatePost">Создать объявление</a>                                                     </li>
                                                        <li class="langs-item"><a class="langs-item-title" href="/Manage/Posts">Мои объявления</a></li>
                                                        <li class="langs-item"><a class="langs-item-title" href="/Manage/RequestPost">Корзина</a></li>
                                                        <li class="langs-item"><a class="langs-item-title" href="/Manage/ResponsePost">Запросы на обмен</a></li>
                                                    }
                                                    <li class="langs-item">
                                                        @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                                        {
                                                            <a class="langs-item-title" href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
                                                        }
                                                    </li>
                                                </ul>
                                            </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="up-item">
                                        <i class="flaticon-profile"></i>
                                        @Html.ActionLink("Войти", "LoginModal", "Account", null, new { @class = "link loginLink", @id = "serviceLoginLink" })
                                        или
                                        @Html.ActionLink("Зарегестрироваться", "RegisterModal", "Account", null, new { @class = "link registerLink", @id = "serviceRegisterLink" })
                                        @*<a href="/Account/LoginModal">Sign In</a> or <a href="/Acco">Create Account</a>*@
                                    </div>
                                }
                            </div>
                    </div>
                </div>
                <nav class="main-navbar">
                    <div class="container">
                        <!-- menu -->
                        <ul class="main-menu">
                            @{
                                IList<CategoryVM> categories = System.Runtime.Caching.MemoryCache.Default["Categories"] as IList<CategoryVM>;
                                if (categories != null)
                                {
                                    foreach (var item in categories)
                                    {
                                        <li>
                                            <a>@item.Name</a>
                                            <ul class="sub-menu">
                                                @foreach (var subitem in @item.Subcategories)
                                                {
                                                    <li><a href="@(subitem.Id)">@subitem.Name</a></li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Header section end -->
        </div>
        <!--<div class="footer-bottom">
            <div class="container">
                <div class="footer-item footer-item--left">
                    <div class="mU mU--color mU--footer">
                        <ul class="mU-list">
                            <li class="mU-item mU-item--main">
                                <a class="link mU-item-link" id="menuFooterMainLink" href="http://localhost:52723/">Gyre</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>-->
    </div>

    @*<partial name="_CookieConsentPartial" />*@
    <div class="page">
        @RenderBody()
    </div>

    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>
    <div id="modDialog1" class="modal fade">
        <div id="dialogContent1" class="modal-dialog"></div>
    </div>
    <!--====== Javascripts & Jquery ======-->
    <script src="~/Scripts/bootstrap-sortable.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>