@model GE.WEB.Models.RegisterViewModel

<div class="modal-content">
    <div class="autH">
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">
                <i class="icon icon_default"></i>
                <i class="icon icon_hover"></i>
            </button>
            <h3 class="title">
                Регистрация
            </h3>
        </div>
        <form asp-action="RegisterModal" method="post" target="#dialogContent" class="form">
          <div align="center">
                <h3 style="color:#ff6600">
                    @ViewBag.Message
                </h3>
            </div>

            @Html.ValidationSummary(true, "", new { @style = "color:red;" })
            <div class="form-group">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control formOther", @placeholder = "Логин" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @style = "color:red;" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "E-mail" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @style = "color:red;" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @type = "password" })
                <a class="autH-toggle-password">
                    <span class="value __value_show" onclick="showPassword()">
                        Показать
                    </span>
                    <span class="value __value_hide" onclick="hidePassword()">
                        Скрыть
                    </span>
                </a>
                @Html.ValidationMessageFor(m => m.Password, "", new { @style = "color:red;" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm password", @type = "password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @style = "color:red;" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "Номер телефона", @id = "Phone" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @style = "color:red;" })
            </div>
            <div class="form-group">
                <button class="btn btn_color" type="submit">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/Scripts/jquery.maskedinput.js" type="text/javascript"></script>
<script type="text/javascript">
    function showPassword() {
        $('a.autH-toggle-password').addClass('on');
        $('#Password').attr('type', 'text');
    }
    function hidePassword() {
        $('a.autH-toggle-password').removeClass('on');
        $('#Password').attr('type', 'password');
    }
    $(function ($) {
        $("#Phone").mask("+375(99) 999-99-99");
    });
</script>