@model diplom.Models.ChangeLoginOrPhoneViewModel

@* @using (Ajax.BeginForm("ChangeUser", "Manage", null, FormMethod.Post, new { @style = "all:unset" }))*@
@using (Ajax.BeginForm("ChangeProfile", "Manage", null, new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "changeProfile"
}, new { @class = "form registerForm", @style = "all:unset" }))
{


    @Html.ValidationSummary(true, "", new { @style = "color:red;" })
    <h3 style="color:red">
        @ViewBag.MessageError
    </h3>
    <h3 style="color:#ff6600">
        @ViewBag.Message
    </h3>
    <div class="formi formi_left">
        <div class="form-group">
            <label for="profileUsername">
                Логин
            </label>
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @value = Model.Name })
            @Html.ValidationMessageFor(m => m.Name, "", new { @style = "color:red;" })
        </div>
        <div class="form-group">
            <label for="profileEmail">
                Номер телефона
            </label>
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @value = Model.PhoneNumber, @id = "phone" })
            @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @style = "color:red;" })
        </div>
    </div>
    <div class="formi formi_right">
        <div class="profile-edit-links">
            <div class="profile-edit-link __typeChangePassword">
                @*<a data-toggle="modal" data-target="#modalChangePassword" tabindex="7">
                    <i class="icon"></i>
                    Изменить пароль аккаунта
                </a>*@
                 @Html.ActionLink("Изменить пароль аккаунта", "ChangePassword", "Manage", null, new { @id = "modalChangePassword" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn_color btn_big" id="submitProfileBtn" type="submit" tabindex="8" style="background-color:#ff6600">
            Сохранить изменения
        </button>
    </div>
}
<script type="text/javascript">
    $("#phone").mask("+375(99) 999-99-99");

    $(function () {
        $.ajaxSetup({ cache: false });
        $("#modalChangePassword").on("click", function (e) {
            $(e.target).closest('.btn-group').children('.dropdown-toggle').dropdown('toggle');
            $('#dialogContent1').load(this.href, function () {
                $('#modDialog1').modal({
                    keyboard: true
                }, 'show');
                bindFormChangePsw(this);
            });
            return false;
        });
    });
    function bindFormChangePsw(dialog) {
        $('form', dialog).submit(function () {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        $('#modDialog1').modal('hide');
                        location.reload();
                    } else {
                        $('#dialogContent1').html(result);
                        bindForm();
                    }
                }
            });
            return false;
        });
    }
</script>

