@model diplom.Models.ChangePasswordViewModel
<div class="modal-content" style="border:unset">
    <div class="autH">
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-hidden="true">
                <i class="icon icon_default"></i>
                <i class="icon icon_hover"></i>
            </button>
            <h3 class="title">
                Смена пароля
            </h3>
        </div>
        @using (Ajax.BeginForm("ChangePassword", null, new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "dialogContent1"
        }, new { @class = "form" }))
        {
             <div align="center">
                <h3 style="color:#ff6600">
                    @ViewBag.Message
                </h3>
            </div>

            @Html.ValidationSummary(true, "", new { @style = "color:red;" })
            <div class="form-group">
                @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", @placeholder = "Старый пароль", @type = "password" })
                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @style = "color:red;" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", @placeholder = "Новый пароль", @type = "password" })
                <a class="autH-toggle-password">
                    <span class="value __value_show" onclick="showPassword()">
                        Показать
                    </span>
                    <span class="value __value_hide" onclick="hidePassword()">
                        Скрыть
                    </span>
                </a>
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @style = "color:red;" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Новый пароль еще раз", @type = "password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @style = "color:red;" })
            </div>
            <div class="form-group">
                <button class="btn btn_color" type="submit">Сохранить</button>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    function showPassword() {
        $('a.autH-toggle-password').addClass('on');
        $('#NewPassword').attr('type', 'text');
    }
    function hidePassword() {
        $('a.autH-toggle-password').removeClass('on');
        $('#NewPassword').attr('type', 'password');
    }
</script>
