<div class="videos-inner">
    <div class="view-header">
        <div class="container">
            <h1 class="view__title">
                Мои объявления
            </h1>
        </div>
    </div>
    <div align="center">
        <h3 style="color:red">
            @ViewBag.Message
        </h3>
    </div>
    <div class="F__category">
    </div>
    @if (((IEnumerable<dynamic>)ViewBag.Posts).Count() > 0)
    {
        <div class="videos-mask">
            <div id="content">
                <ul class="videos-list vois">
                    @foreach (diplom.Models.Post post in ViewBag.Posts)
                    {
                        if (post.Status != "0")
                        {
                            <li class="voi">
                                <a href="/Manage/Post/@post.Id" title="@post.Name">
                                    <img class='voi__poster' src="@string.Concat("/Images/" + post.UserId + "/", post.ImagesGallery.ToList().First().Title, ".jpg")" />
                                </a>
                                <div class="voi__content">
                                    <p class="voi__title">
                                        <a class="voi__title-link" href="/Manage/Post/@post.Id">
                                            @post.Name
                                        </a>
                                    </p>
                                    <p class="voi__info">
                                        @post.Subcategory.Points, @post.Subcategory.Name
                                    </p>
                                </div>
                                <div class="overlay" original-title="">
                                    <a class="overlay-link" href="/Manage/Post/@post.Id"></a>
                                </div>

                            </li>
                        }
                        else
                        {
                            <li class="voi">
                                <a href="/Manage/Post/@post.Id" title="@post.Name">
                                    <img class='voi__poster' src="@string.Concat("/Images/" + post.UserId + "/", post.ImagesGallery.ToList().First().Title, ".jpg")" />
                                </a>
                                <div class="voi__content">
                                    <p class="voi__title">
                                        <a class="voi__title-link" href="/Manage/Post/@post.Id">
                                            @post.Name
                                        </a>
                                    </p>
                                    <p class="voi__info">
                                        На модерации
                                    </p>
                                </div>
                                <div class="overlay" original-title="">
                                    <a class="overlay-link" href="/Manage/Post/@post.Id"></a>
                                </div>

                            </li>
                        }
                    }
                </ul>
                <hr style="color: #ddd;">
            </div>
        </div>
    }
    else
    {
        <div align="center">
            <h3>
                Список опубликованных объявлений пуст
            </h3>
        </div>
    }
</div>
