@model X.PagedList.IPagedList<GE.DAL.Model.Post>
@using X.PagedList.Mvc.Core;

<div class="videos-mask">
    <div id="content">
        <ul class="videos-list vois">
            @foreach (GE.Models.PostVM post in ViewBag.posts)
            {
                <li class="voi">
                    <a href="Home/Post/@post.Id" title="@post.Name">
                        <img class='voi__poster' style="height: 200px;" src="@string.Concat("/images/" + post.User.Id + "/", post.ImagesGallery.ToList().First().Name)" />
                    </a>
                    <div class="voi__content">
                        <p class="voi__title">
                            <a class="voi__title-link" href="Home/Post/@post.Id">
                                @post.Name
                            </a>
                        </p>
                        <p class="voi__info">
                            @post.Subcategory.Points, @post.Subcategory.Name
                        </p>
                    </div>
                    <div class="overlay" original-title="">
                        <a class="overlay-link" href="/Home/Post/@post.Id"></a>
                    </div>

                </li>
            }
        </ul>
        <hr style="    color: #ddd;">
    </div>
</div>