@model PagedList.IPagedList<GE.DAL.Model.Post>
@using PagedList.Mvc;

<div class="videos-mask">
    <div id="content">
        <ul class="videos-list vois">
            @foreach(GE.DAL.Model.Post post in Model)
            {
                <li class="voi">
                    <a href="Home/Post/@post.Id" title="@post.Name">

                        @*@Html.Raw("<img class='voi__poster' src=\"data:image/jpeg;base64," + Convert.ToBase64String(post.ImagesGallery.ToList()[0].ImageData) + "\" width='162' height='228' />")*@
                        <img class='voi__poster' src="@string.Concat("/Images/" + post.UserId + "/", post.ImagesGallery.ToList().First().Title, ".jpg")" />
                    </a>
                    <div class="voi__content">
                        <p class="voi__title">
                            <a class="voi__title-link" href="Home/Post/@post.Id">
                                @post.Name
                            </a>
                        </p>
                        <p class="voi__info">
                            @post.Subcategory.Points, @post.Subcategory.Name
                        </p>
                    </div>
                    <div class="overlay" original-title="">
                        <a class="overlay-link" href="/Home/Post/@post.Id"></a>
                    </div>

                </li>
            }
        </ul>
        <hr style="    color: #ddd;">
    </div>
</div>