@model PagedList.IPagedList<diplom.Models.Post>
@using PagedList.Mvc;
<div class="videos-inner">
    <div class="view-header">
        <div class="container">
            <h1 class="view__title">
                Объявления
            </h1>
        </div>
    </div>
    <div id="filter">
        <div class="F F__category" data-filter-types="city,category,subcategory,region">
            <div class="container">
                <div id="categoryFilterExtended" class="Fis Fis__main">
                    <div class="Fi Fi__dropdown Fi__category">
                        <div class="Fi_title" data-toggle="dropdown">
                            <a class="_link" href="#">
                                <span class="_value ncat">
                                    Категория
                                </span>
                            </a>
                        </div>
                        <div class="Fi_menu">
                            <div class="F-sub">
                                <ul class="F-subis" id="categoryPart">
                                    <li id="all" class="F-subi F-subi__all cat valueSub" data-filter="category:">
                                        <div class="F-subi_title">
                                            <a class="_link">
                                                <span class="_value" style="font-size:19px">
                                                    Любая
                                                </span>
                                            </a>
                                        </div>
                                    </li>
                                    @foreach (var category in ViewBag.Categories)
                                    {
                                        <li id="@category.Name" class="F-subi valueSub" data-filter="category:@category.Name">
                                            <div class="F-subi_title">
                                                <a class="_link" id="@category.Name" title="@category.Name">
                                                    <span class="_value" style="font-size:19px">
                                                        @category.Name
                                                    </span>
                                                </a>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="Fi Fi__dropdown Fi__subcategory" style="display: none">
                        <div class="Fi_title" data-toggle="dropdown">
                            <a class="_link" href="#">
                                <span class="_value nsub">
                                    Подкатегории
                                </span>
                            </a>
                        </div>
                        <div class="Fi_menu">
                            <div class="F-sub">
                                <ul class="F-subis" id="subcategoryPart"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="Fi Fi__dropdown Fi__region">
                        <div class="Fi_title" data-toggle="dropdown">
                            <a class="_link" href="#">
                                <span class="_value nreg">
                                    Область
                                </span>
                            </a>
                        </div>
                        <div class="Fi_menu">
                            <div class="F-sub">
                                <ul class="F-subis" id="regionPart">
                                    <li id="all" class="F-subi F-subi__all reg valueSub" data-filter="region:">
                                        <div class="F-subi_title">
                                            <a class="_link">
                                                <span class="_value" style="font-size:19px">
                                                    Любая
                                                </span>
                                            </a>
                                        </div>
                                    </li>
                                    @foreach (var region in ViewBag.Regions)
                                    {
                                        <li id="@region.Name" class="F-subi valueSub" data-filter="region:@region.Name">
                                            <div class="F-subi_title">
                                                <a class="_link" id="@region.Name" title="@region.Name">
                                                    <span class="_value" style="font-size:19px">
                                                        @region.Name
                                                    </span>
                                                </a>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="Fi Fi__dropdown Fi__city" style="display: none">
                        <div class="Fi_title" data-toggle="dropdown">
                            <a class="_link" href="#">
                                <span class="_value ncit">
                                    Города
                                </span>
                            </a>
                        </div>
                        <div class="Fi_menu">
                            <div class="F-sub" id="cityPart">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @using (Html.BeginForm("Sorting", "Home", FormMethod.Get))
            {
                <input type="hidden" value="none" id="attCat" name="attCat" />
                <input type="hidden" value="none" id="attReg" name="attReg" />
                <button style="margin-top: 30px;border-color: #ff6600 !important; background-color: #ff6600 !important; color:white;" class="scroll-element bordered bn-link" type="submit">Поиск объявлений</button>
            }
            @* @Html.ActionLink(null, "CreatePost", "Manage", null, new { @class = "header__button_add" })*@
            @if (!User.IsInRole("Administrator") && !User.IsInRole("Moderator"))
            {<a class="header__button_add" href='@Url.Action("CreatePost", "Manage")' title="Подать объявление"></a>}
        </div>
    </div>
    <div class="videos-mask">
        <div id="content">
            <ul class="videos-list vois">
                @foreach (diplom.Models.Post post in Model)
                {
                    <li class="voi">
                        <a href="Home/Post/@post.Id" title="@post.Name">

                            @*@Html.Raw("<img class='voi__poster' src=\"data:image/jpeg;base64," + Convert.ToBase64String(post.ImagesGallery.ToList()[0].ImageData) + "\" width='162' height='228' />")*@
                            <img class='voi__poster' src="@string.Concat("/Images/" + post.UserId + "/", post.ImagesGallery.ToList().First().Title, ".jpg")" />
                        </a>
                        <div class="voi__content">
                            <p class="voi__title">
                                <a class="voi__title-link" href="Home/Post/@post.Id">
                                    @post.Name
                                </a>
                            </p>
                            <p class="voi__info">
                                @post.Subcategory.Points, @post.Subcategory.Name
                            </p>
                        </div>
                        <div class="overlay" original-title="">
                            <a class="overlay-link" href="/Home/Post/@post.Id"></a>
                        </div>

                    </li>
                }
            </ul>
            <hr style="    color: #ddd;">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new PagedList.Mvc.PagedListRenderOptions { MaximumPageNumbersToDisplay = 10 })
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $("#categoryPart").on("click", ".cat", function () {
            $(".Fi__subcategory").css("display", "none");
            $("#attSub").val("");
        });
        $("#categoryPart").on("click", ".valueSub", function () {
            var id = $(this).attr('id');
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetSubcategories")/' + id,
                    success: function (data) {
                        $('#subcategoryPart').replaceWith(data);
                    }
            });
                if (id != "all") {
                    $(".Fi__subcategory").css("display", "block");
                    $("span.ncat").text(id);
                }
                else {
                    $("span.ncat").text("Любая");
                }

                $("#attCat").val(id);
        });
        $("#regionPart").on("click", ".reg", function () {
            $(".Fi__city").css("display", "none");
            $("#attCit").val("");
        });
        $("#regionPart").on("click", ".valueSub", function () {
            var id = $(this).attr('id');
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetCities")/' + id,
                    success: function (data) {
                        $('#cityPart').replaceWith(data);
                    }
            });
                if (id != "all") {
                    $(".Fi__city").css("display", "block");
                    $("span.nreg").text(id);

                }
                else {
                    $("span.nreg").text("Любая");
                }
                $("#attReg").val(id);

        });
    </script>
}