@*@model PagedList.Core.IPagedList<GE.Models.PostVM>
@using PagedList.Core.Mvc;*@
<div class="videos-inner">
    <div class="view-header">
        <div class="container">
            <h1 class="view__title">
                Панель модератора
            </h1>
        </div>
    </div>
    <div align="center">
        <h3 style="color:red">
            @ViewBag.Message
        </h3>
    </div>
    <div class="F__category">
    </div>

    <table class="table table-bordered table-striped sortable">
        <thead>
            <tr><th>Наименование объявления</th><th>Дата создания объявления</th><th>Логин пользователя</th></tr>
        </thead>
        <tbody>
            @foreach (GE.Models.PostVM post in ViewBag.Posts)
            {
                <tr>
                    <td>@Html.ActionLink((string)post.Name, "PostInformation", "Manage", new { id = post.Id }, new { UpdateTargetId = "postInformation" })</td>
                    <td>@post.DateCreatePost</td>
                    <td>@post.User.UserName</td>
                    <td>
                        <form action="/Moderator/ResolvePost" method="post">
                            <input type="hidden" name="Id" value="@post.Id">
                            <button class="btn btn-success" style="background-color: #216100 !important; color:whitesmoke;" type="submit">Одобрить</button>
                        </form>
                    <td>
                    <td>
                        <form action="/Moderator/RejectPost" method="post">
                            <input type="hidden" name="Id" value="@post.Id">
                            <button class="btn btn-success" style="background-color: #b40129 !important; color:whitesmoke;" type="submit">Отклонить</button>
                        </form>
                    <td>
                </tr>
            }
        </tbody>
    </table>

    <hr style="    color: #ddd;">
    @*@PagedList.Core.BasePagedList(Model, page => Url.Action("Index", new { page = page }), new PagedList.Mvc.PagedListRenderOptions { MaximumPageNumbersToDisplay = 10 })*@
    <div id="postInformation"></div>
</div>