<div class="videos-inner">
    <div class="view-header">
        <div class="container">
            <h1 class="view__title">
                Изменение объявления
            </h1>
        </div>
    </div>
    <div align="center">
        <h3 style="color:#ff6600">
            @ViewBag.Message
        </h3>
    </div>
    <div align="center">
        <h3 style="color:red">
            @ViewBag.Error
        </h3>
    </div>
    <div class="videos-mask">
        <form action="/Manage/ChangePost" class="form-horizontal" enctype="multipart/form-data" method="post" role="form">
            <input id="Id" name="Id" style="display: none" type="text" value="@ViewBag.Post.Id">
            <div class="validation-summary-valid text-danger" data-valmsg-summary="true" style="color:red;">
                <ul>
                    <li style="display:none"></li>
                </ul>
            </div>
            <div class="form_section">
                <label class="form_section form_tag">Имя продукта</label>
                <input class="form_controlinput" id="Name" name="Name" pattern=".{3,}" placeholder="например HTC" required="required" type="text" value="@ViewBag.Post.Name">
            </div>
            <br>
            <div class="form_section">
                <label class="form_section form_tag">Описание</label>
                <textarea class="form_control form_controlinputarea" cols="20" id="Description" maxlength="200" name="Description" placeholder="Описание должно быть не меньше 5 и не больше 200 символов" required="required" rows="3" style="resize:none">@ViewBag.Post.Description</textarea>
            </div>
            <br>
            <button class="btn btn-success" style="background-color: #216100 !important; color:whitesmoke;margin-left: 420px;" type="submit">Сохранить</button>
        </form>
    </div>
</div>


