<div class="videos-inner">
    <div class="view-header">
        <div class="container">
            <h1 class="view__title">
                Изменение объявления
            </h1>
        </div>
    </div>
    <div align="center">
        <h3 style="color:#ff6600">
            @ViewBag.Message
        </h3>
    </div>
    <div align="center">
        <h3 style="color:red">
            @ViewBag.Error
        </h3>
    </div>
    <div class="videos-mask">
        <form action="/Manage/ChangePost" class="form-horizontal" enctype="multipart/form-data" method="post" role="form">
            <input id="Id" name="Id" style="display: none" type="text" value="@ViewBag.Post.Id">
            <div class="validation-summary-valid text-danger" data-valmsg-summary="true" style="color:red;">
                <ul>
                    <li style="display:none"></li>
                </ul>
            </div>            
            <div class="form_section">
                <label class="form_section form_tag">Имя продукта</label>
                <input class="form_controlinput" id="Name" name="Name" pattern=".{3,}" placeholder="например HTC" required="required" type="text" value="@ViewBag.Post.Name">
            </div>
            <br>
            <div class="form_section">
                <label class="form_section form_tag">Описание</label>
                <textarea class="form_control form_controlinputarea" cols="20" id="Description" maxlength="200" name="Description" placeholder="Описание должно быть не меньше 5 и не больше 200 символов" required="required" rows="3" style="resize:none">@ViewBag.Post.Description</textarea>
            </div>
            <br>
            <button style="margin-bottom: 30px;border-color: #ff6600 !important; background-color: #ff6600 !important; color:white; padding: 6px 12px; width: 100%; border: 1px solid #cccccc;" type="submit">Сохранить изменения</button>
        </form>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        @*$("#categoryPart").on("click", ".valueSub", function () {
            var id = $(this).attr('id');
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetSubcategories")/' + id,
                    success: function (data) {
                        $('#subcategoryPart').replaceWith(data);
                    }
            });
                $(".Fi__subcategory").css("display", "block");
                $("span.ncat").text(id);
                //$("div").find("li#" + id).addClass("__active");

        });
        $("#regionPart").on("click", ".valueSub", function () {
            var id = $(this).attr('id');
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetCities")/' + id,
                    success: function (data) {
                        $('#cityPart').replaceWith(data);
                    }
            });
                $(".Fi__city").css("display", "block");
                $("span.nreg").text(id);
        });*@
        //function handleFileSelect(evt) {
        //    var files = evt.target.files;
        //    for (var i = 0, f; f = files[i]; i++) {
        //        if (!f.type.match('image.*')) {continue;}
        //        var reader = new FileReader();
        //        reader.onload = (function (theFile) {
        //            return function (e) {
        //                document.getElementById('image-' + evt.target.id).innerHTML = ['<div id="' + evt.target.id + '"> <img class="thumb" src="', e.target.result, '" title="', escape(theFile.name), '"/><b  class="image_delete" id="' + evt.target.id + '" onclick="removeImg(this);"></b><b  class="image_rotate" id="' + evt.target.id + '" onclick="rotateImg(this);"></b></div>'].join('');
        //            };
        //        })(f);
        //        reader.readAsDataURL(f);
        //        //document.getElementById("image-" + evt.target.id).onclick = "none";
        //    }
        //}
        //document.getElementById('1').addEventListener('change', handleFileSelect, false);
        //document.getElementById('2').addEventListener('change', handleFileSelect, false);
        //document.getElementById('3').addEventListener('change', handleFileSelect, false);
        //function removeImg(elem) {
        //    $('div#' + elem.id + '').remove();
        //    document.getElementById(elem.id).addEventListener('change', handleFileSelect, false);
        //}
        //function getValueSub(elem) {
        //    $("#Subcategory").val(elem.id);
        //    $("span.nsub").text(elem.id);
        //}
        //function getValueCit(elem) {
        //    $("#City").val(elem.id);
        //    $("span.ncit").text(elem.id);
        //}
    </script>
}


