@model IEnumerable<GE.Models.CityVM>
@if (((IEnumerable<dynamic>)ViewBag.Cities).Count() > 12)
{
    <div class="F-sub" id="cityPart">
        <ul class="F-subis">
            @for (int i = 0; i < 11; i++)
            {
                <li id="@ViewBag.Cities[i].Name" class="F-subi valueSub" data-filter="city:@ViewBag.Cities[i].Name" onclick="getValueCit(this)">
                    <div class="F-subi_title">
                        <a class="_link"  title="@ViewBag.Cities[i].Name">
                            <span class="_value">
                                @ViewBag.Cities[i].Name
                            </span>
                        </a>
                    </div>
                </li>

            }
        </ul>
        <ul class="F-subis">
            @for (int i = 11; i < ((IEnumerable<dynamic>)ViewBag.Cities).Count(); i++)
            {
                <li id="@ViewBag.Cities[i].Name" class="F-subi valueSub" data-filter="city:@ViewBag.Cities[i].Name" onclick="getValueCit(this)">
                    <div class="F-subi_title">
                        <a class="_link" title="@ViewBag.Cities[i].Name">
                            <span class="_value">
                                @ViewBag.Cities[i].Name
                            </span>
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
}
else
{
    <div class="F-sub" id="cityPart">
        <ul class="F-subis">
            @foreach (var city in ViewBag.Cities)
            {
                <li id="@city.Name" class="F-subi valueSub" data-filter="city:@city.Name" onclick="getValueCit(this)">
                    <div class="F-subi_title">
                        <a class="_link" title="@city.Name">
                            <span class="_value">
                                @city.Name
                            </span>
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
}





