@model GE.Models.PostVM
@{
    Layout = null;
}
<h2>Информация об объявлении</h2>
<div class="F__category">
</div>

<div class="view">
    <div class="view-header">
        <div class="container">
            <h1 class="view__title">
                @Model.Name
            </h1>
        </div>
    </div>

    <div class="view-watch player">
        <div class="container">
            <div class="view-side">
                <div class="thumbnail">
                    <div class="thumb">
                        <img class='voi__poster' src="@string.Concat("/images/" + Model.UserId + "/", Model.ImagesGallery.ToList().First().Name)" width='162' height='228' style="    max-height: 390px;" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="view-side" style="margin-left:300px">
            <div class="info info_summary" style="all:unset">
                <div class="infoi">
                    <h4 class="infoi__title">
                        Дата:
                    </h4>
                    <div class="infoi__content">
                        @Model.DateCreatePost
                    </div>
                </div>
                <div class="infoi">
                    <h4 class="infoi__title">
                        Категория:
                    </h4>
                    <div class="infoi__content">
                        @Model.Subcategory.Name ,  @Model.Subcategory.CategoryName
                    </div>
                </div>
                <div class="infoi">
                    <h4 class="infoi__title">
                        Город:
                    </h4>
                    <div class="infoi__content">
                        @Model.City.Name ,  @Model.City.RegionName область
                    </div>
                </div>
                <div class="infoi">
                    <h4 class="infoi__title">
                        Цена:
                    </h4>
                    <div class="infoi__content">
                        @Model.Subcategory.Points
                    </div>
                </div>
                <div class="infoi">
                    <h4 class="infoi__title">
                        Номер телефона:
                    </h4>
                    <div class="infoi__content">
                        @Model.User.PhoneNumber
                    </div>
                </div>
            </div>
        </div>
        <div class="view-side" style="    width: 400px">
            <div class="view-story" style="margin:unset">
                <h3 class="infoi__title" style="float:unset">
                    Описание
                </h3>
                <div class="expand">
                    <div class="expandContent">
                        @Model.Description
                    </div>
                </div>
            </div>
        </div>
        <div class="view-images" style="margin-left:300px">
            <h3 class="title">
                Галерея
            </h3>
            <div class="gallery-thumbnails clearfix">
                @foreach (var item in Model.ImagesGallery)
                {
                    <span>
                        <img class='voi__poster' src="@string.Concat("/images/" + Model.UserId + "/", item.Name)" width='162' height='228' onclick="openImg(this);" />
                    </span>
                }
            </div>
        </div>
    </div>
    <div class="container">
        <div class="containerImage">
            <b class="closebtn" onclick="this.parentElement.style.display='none'"></b>
            <img id="expandedImg" style="width:50%; display:block; margin-left:auto; margin-right:auto">
            <div id="imgtext"></div>
        </div>
    </div>
</div>