@model diplom.Models.Post
<div class="view">
    <div class="view-header">
        <div class="container">
            <h1 class="view__title">
                @Model.Name
            </h1>
        </div>
    </div>
    <div align="center">
        <h3 style="color:red">
            @ViewBag.Error
        </h3>
    </div>
    <div class="F__category">
    </div>
    <div class="view-watch player">
        <div class="container">
            <div class="view-side">
                <div class="thumbnail">
                    <div class="thumb">
                        @*@Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.ImagesGallery.ToList()[0].ImageData) + "\" width='300' style='min-height:250px;' />")*@
                        <img class='voi__poster' src="@string.Concat("/Images/" + Model.UserId + "/", Model.ImagesGallery.ToList().First().Title, ".jpg")" width='162' height='228' style="    max-height: 390px;" />
                    </div>
                </div>
            </div>
            <div class="view-wide">
                @if (Model.Video != null)
                {
                    <div class="player-container player-width player-height">
                        <video width="320" height="240" controls>

                            <source src="@string.Concat("/Videos/", Model.Video.Title, ".mp4")" type="video/mp4">

                        </video>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="container">
        @if (Model.Video != null)
        {
            <div class="view-side">

                <div class="info info_summary">
                    <div class="infoi">
                        <h4 class="infoi__title">
                            Дата:
                        </h4>
                        <div class="infoi__content">
                            @Model.DateCreatePost
                        </div>
                    </div>
                    <div class="infoi">
                        <h4 class="infoi__title">
                            Категория:
                        </h4>
                        <div class="infoi__content">
                            @Model.Subcategory.Name ,  @Model.Subcategory.CategoryName
                        </div>
                    </div>
                    <div class="infoi">
                        <h4 class="infoi__title">
                            Город:
                        </h4>
                        <div class="infoi__content">
                            @Model.City.Name ,  @Model.City.RegionName область
                        </div>
                    </div>
                    <div class="infoi">
                        <h4 class="infoi__title">
                            Цена:
                        </h4>
                        <div class="infoi__content">
                            @Model.Subcategory.Points
                        </div>
                    </div>
                    <div class="infoi">
                        <h4 class="infoi__title">
                            Номер телефона:
                        </h4>
                        <div class="infoi__content">
                            @Model.User.PhoneNumber
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="view-side" style="margin-left:300px">
                <div class="info info_summary" style="all:unset">
                    <div class="infoi">
                        <h4 class="infoi__title">
                            Дата:
                        </h4>
                        <div class="infoi__content">
                            @Model.DateCreatePost
                        </div>
                    </div>
                    <div class="infoi">
                        <h4 class="infoi__title">
                            Категория:
                        </h4>
                        <div class="infoi__content">
                            @Model.Subcategory.Name ,  @Model.Subcategory.CategoryName
                        </div>
                    </div>
                    <div class="infoi">
                        <h4 class="infoi__title">
                            Город:
                        </h4>
                        <div class="infoi__content">
                            @Model.City.Name ,  @Model.City.RegionName область
                        </div>
                    </div>
                    <div class="infoi">
                        <h4 class="infoi__title">
                            Цена:
                        </h4>
                        <div class="infoi__content">
                            @Model.Subcategory.Points
                        </div>
                    </div>
                    <div class="infoi">
                        <h4 class="infoi__title">
                            Номер телефона:
                        </h4>
                        <div class="infoi__content">
                            @Model.User.PhoneNumber
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (Model.Video != null)
        {
            <div class="view-wide">
                <div class="view-story">
                    <h3 class="infoi__title">
                        Описание
                    </h3>
                    <div class="expand">
                        <div class="expandContent">
                            @Model.Description
                        </div>
                    </div>
                </div>
                <div class="view-images">
                    <h3 class="title">
                        Галерея
                    </h3>
                    <div class="gallery-thumbnails clearfix">
                        @foreach (var item in Model.ImagesGallery)
                        {
                            <span>
                                @*@Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.ImageData) + "\"onclick=" + "openImg(this);" + " />")*@
                                <img class='voi__poster' src="@string.Concat("/Images/" + Model.UserId + "/", item.Title, ".jpg")" width='162' height='228' onclick="openImg(this);" />
                            </span>
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="view-side" style="    width: 400px">
                <div class="view-story" style="margin:unset">
                    <h3 class="infoi__title" style="float:unset">
                        Описание
                    </h3>
                    <div class="expand">
                        <div class="expandContent">
                            @Model.Description
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (Model.Video == null)
        {
            <div class="view-images" style="margin-left:300px">
                <h3 class="title">
                    Галерея
                </h3>
                <div class="gallery-thumbnails clearfix">
                    @foreach (var item in Model.ImagesGallery)
                    {
                        <span>
                            @*@Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.ImageData) + "\"onclick=" + "openImg(this);" + " />")*@
                            <img class='voi__poster' src="@string.Concat("/Images/" + Model.UserId + "/", item.Title, ".jpg")" width='162' height='228' onclick="openImg(this);" />
                        </span>
                    }
                </div>
            </div>
        }
    </div>
    <div class="container">
        <div class="containerImage" style="padding: 0px 0px 10px 0px;">
            <b class="closebtn" onclick="this.parentElement.style.display='none'"></b>
            @*<span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>*@
            <img id="expandedImg" style="width:50%; display:block; margin-left:auto; margin-right:auto">
            <div id="imgtext"></div>
        </div>
    </div>
    <div class="container">
        <div class="container">

            @using (Html.BeginForm("ChangePost", "Manage", FormMethod.Get, new { @style = "display:inline" }))
            {
                <input type="hidden" name="postId" value="@Model.Id" />
                <button style="margin-bottom: 30px;border-color: #ff6600 !important; background-color: #ff6600 !important; color:white; padding: 6px 0px; width: 49.5%; border: 1px solid #cccccc;" type="submit">Изменить</button>
            }
            @using (Html.BeginForm("DeletePost", "Manage", FormMethod.Post, new { @style = "display: inline" }))
            {
                <input type="hidden" name="postId" value="@Model.Id" />
                <button style="margin-bottom: 30px; border-color: crimson !important; background-color: crimson !important; color:white; padding: 6px 0px; width: 49.5%; border: 1px solid #cccccc;" type="submit">Удалить</button>
            }


        </div>
    </div>

    @section scripts{
        <script type="text/javascript">
            function openImg(imgs) {
                var expandImg = document.getElementById("expandedImg");
                var imgText = document.getElementById("imgtext");
                expandImg.src = imgs.src;
                imgText.innerHTML = imgs.alt;
                expandImg.parentElement.style.display = "block";
            }
        </script>
    }


