<div class="videos-inner">
    <div class="view-header">
        <div class="container">
            <h1 class="view__title">
                Мои запросы(Я прошу у других)
            </h1>
        </div>
    </div>
    <div align="center">
        <h3 style="color:red">
            @ViewBag.Message
        </h3>
    </div>
    <div class="F__category">
    </div>
    @if (((IEnumerable<OrderVM>)ViewBag.Orders).Count() > 0)
    {
        <div class="videos-mask">
            <div id="content">
                <ul class="videos-list vois">
                    @foreach (GE.Models.OrderVM order in ViewBag.Orders)
                    {
                        <li class="voi">
                            <a href="/Home/Post/@order.PostId" title="@order.Post.Name">
                                <img class='voi__poster' src="@string.Concat("/images/" + order.Post.UserId + "/", order.Post.ImagesGallery.FirstOrDefault().Name)" />
                            </a>
                            <div class="voi__content">
                                <p class="voi__title">
                                    <a class="voi__title-link" href="/Home/Post/@order.PostId">
                                        @order.Post.Name
                                    </a>
                                </p>
                                <p class="voi__info">
                                    @order.Post.Subcategory.Points, @order.Post.Subcategory.Name
                                </p>
                            </div>
                            <div class="overlay" original-title="">
                                    <a class="overlay-link" href="/Manage/Post/@order.PostId"></a>
                                </div>

                        </li>
                    }
                </ul>
                <hr style="color: #ddd;">
            </div>
        </div>
    }
    else
    {
        <div align="center">
            <h3 >
                Список запрошенных объявлений пуст
            </h3>
        </div>
    }
</div>
    
