<div class="videos-inner">
    <div class="view-header">
        <div class="container">
            <h1 class="view__title">
                <img class="icon" src="~/img/icons8-колокол-48.png" />
                Запросы на обмен от других пользователей
            </h1>
        </div>
    </div>
    <div align="center">
        <h3 style="color:red">
            @ViewBag.Message
        </h3>
    </div>
    <div class="F__category">
    </div>
    @if (((IEnumerable<dynamic>)ViewBag.Orders).Count() > 0)
    {
        <table class="table">
            <thead>
                <tr><th>Наиеменование поста</th><th>Имя пользователя</th><th>Номер телефона</th></tr>
            </thead>
            <tbody>
                @foreach (GE.Models.OrderVM order in ViewBag.Orders)
                {
                    <tr>
                        <td>@Html.ActionLink((string)order.Post.Name, "PostInformation", "Manage", new { id = order.Post.Id }, new { UpdateTargetId = "postInformation" })</td>
                        <td>@order.User.UserName</td>
                        <td>@order.User.PhoneNumber</td>
                        <td>
                            @using (Html.BeginForm("ResolveRequest", "Manage", FormMethod.Post))
                            {
                                <input type="hidden" name="Id" value="@order.Id" />
                                <button style="-webkit-border-radius: 4px; border-color: #ff6600 !important; background-color: #ff6600 !important; color:white; width:inherit; border: 1px solid #cccccc;" type="submit">Одобрить</button>

                            }
                        <td>
                        <td>
                            @using (Html.BeginForm("RejectRequest", "Manage", FormMethod.Post))
                            {
                                <input type="hidden" name="Id" value="@order.Id" />
                                <button style=" -webkit-border-radius: 4px; border-color: crimson !important; background-color: crimson !important; color:white; width:inherit; border: 1px solid #cccccc;" type="submit">Отклонить</button>
                            }
                        <td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="postInformation"></div>
    }
    else
    {
        <div align="center">
            <h3>
                Запросов на обмен нет
            </h3>
        </div>
    }
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".viewDialog").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}

