<div class="videos-inner">
    <div class="view-header">
        <div class="container">
            <h1 class="view__title">
                Одобрение сделки
            </h1>
        </div>
    </div>
    <div align="center">
        <h3 style="color:red">
            @ViewBag.Message
        </h3>
    </div>
    <div class="F__category">
    </div>
    @if (((IEnumerable<dynamic>)ViewBag.Posts).Count() > 0)
    {
        <table class="table">
            <thead>
                <tr><th>Наиеменование поста</th><th>Имя пользователя</th><th>Номер телефона</th></tr>
            </thead>
            <tbody>
                @foreach (diplom.Models.Order order in ViewBag.Posts)
                {
                    <tr>
                        <td>@Ajax.ActionLink((string)order.Post.Name, "PostInformation", "Manage", new { id = order.Post.Id }, new AjaxOptions { UpdateTargetId = "postInformation" })</td>
                        <td>@order.User.UserName</td>
                        <td>@order.User.PhoneNumber</td>
                        <td>
                            @using (Html.BeginForm("ResolveRequest", "Manage", FormMethod.Post))
                            {
                                <input type="hidden" name="Id" value="@order.Id" />
                                <button style=" -webkit-border-radius: 4px; border-color: #ff6600 !important; background-color: #ff6600 !important; color:white; width:inherit; border: 1px solid #cccccc;" type="submit">Одобрить</button>

                            }
                        <td>
                        <td>
                            @using (Html.BeginForm("RejectRequest", "Manage", FormMethod.Post))
                            {
                                <input type="hidden" name="Id" value="@order.Id" />
                                <button style=" -webkit-border-radius: 4px; border-color: crimson !important; background-color: crimson !important; color:white; width:inherit; border: 1px solid #cccccc;" type="submit">Отклонить</button>
                            }
                        <td>
                    </tr>
                }
            </tbody>
        </table>
        <div id="postInformation"></div>
        @*<div class="videos-mask">
                <div id="content">
                    <ul class="videos-list vois">
                        @foreach (diplom.Models.Order order in ViewBag.Posts)
                        {
                            <li class="voi">
                                <a href="/Manage/ResponsePostInformatoin/@order.Id" title="@order.Post.Name">
                                    <img class='voi__poster' src="@string.Concat("/Images/" + order.Post.UserId + "/", order.Post.ImagesGallery.ToList().First().Title, ".jpg")" />
                                </a>
                                <div class="voi__content">
                                    <p class="voi__title">
                                        <a class="voi__title-link" href="/Home/Post/@order.Id">
                                            @order.Post.Name
                                        </a>
                                    </p>
                                    <p class="voi__info">
                                        @order.Post.Subcategory.Points, @order.Post.Subcategory.Name
                                    </p>
                                </div>
                                <div class="overlay" original-title="">
                                        <a class="overlay-link" href="/Manage/Post/@Post.Id"></a>
                                    </div>

                            </li>
                        }
                    </ul>
                </div>
            </div>*@
    }
    else
    {
        <div align="center">
            <h3>
                Список объявлений для одобрения пуст
            </h3>
        </div>
    }
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".viewDialog").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}

